<!-- our pricing  
<section class="section pricing-bg" id="pricing">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 text-center">
                <h2 class="fs-3 fw-medium lh-1 text-dark mb-3">{{heading}}</h2>
                <p class="text-muted">
                    {{content}}
                </p>
            </div>
        </div>

        <div class="row">
            <div *ngFor="let value of pricingList" class="col-lg-4 col-md-6 mt-4 pt-2 price_sec">
                <div class="price-box border rounded bg-white text-center p-5">
                    <h1 class="fw-light text-dark mb-2 price-title">{{value.price}}<sup>$</sup></h1>
                    <h4 class="text-muted fs-18 fw-normal pb-2">{{value.month}}</h4>
                    <div class="mt-5">
                        <p class="text-dark my-3 mb-0">
                            <i-feather name="chevrons-right" class="icon-xs text-primary me-2"></i-feather>Online Space
                            : {{value.space}}MB
                        </p>
                        <p class="text-dark my-3 mb-0">
                            <i-feather name="chevrons-right" class="icon-xs text-primary me-2"></i-feather>Bandwidth :
                            {{value.width}}GB
                        </p>
                        <p class="text-dark my-3 mb-0">
                            <i-feather name="chevrons-right" class="icon-xs text-primary me-2"></i-feather>Support :
                            {{value.support}}
                        </p>
                        <p class="text-dark my-3 mb-0">
                            <i-feather name="chevrons-right" class="icon-xs text-primary me-2"></i-feather>Hidden Fees :
                            {{value.fees}}
                        </p>
                    </div>
                    <a href="javascript:void(0);" [ngxScrollTo]="'#home'" class="btn btn-primary mt-5">Choose Plan
                        <i-feather name="chevrons-right" class="icon-xs"></i-feather>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end our-pricing -->

<!-- brand-logo -->
<section class="brand-section">
    <div class="container">
        <div class="row">
            <div *ngFor="let value of brandLogos" class="col-md-4 col-6 my-4">
                <img class="img-fluid mx-auto brand-logo" src="{{value.image}}" alt="" />
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end-container -->
</section>
<!-- end brand logo -->