<!-- start footer -->
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <a routerLink="/layout-one-1">
                    <img src="../../../assets/layout/images/logoHorizontal.png" alt="" height="90" />
                </a>
                <p class="mt-4">Generar valor a nuestros socios comerciales, por medio de soluciones flexibles, eficientes y rentables.
                </p>
            </div>
            <div class="col-lg-2 offset-lg-2 col-sm-6">
                <h6 class="text-white mb-4 mt-sm-0 mt-5">Empresa</h6>
                <ul class="list-unstyled footer-list">
                    <li>Grupo Comercial Peralea S,A de C,V.
                    </li>
                    <li>GCP201009317
                    </li>
                    <li>Camelia 401 Sardines de Santa Catarina C.P. 66362 Mty N,L.
                    </li>

<!--                     <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Media press</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Career</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Blog</a></li> -->
                </ul>
            </div>
            <div class="col-lg-2 offset-lg-2 col-sm-6">
                <ul class="list-unstyled footer-list">
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Acerca de nosotros</a></li>
                    <li><a [ngxScrollTo]="'#services'" href="javascript: void(0);">Servicios</a></li>
                    <li><a [ngxScrollTo]="'#feature'" href="javascript: void(0);">Productos</a></li>
                    <li><a [ngxScrollTo]="'#portfolio'" href="javascript: void(0);">Clientes</a></li>
                    <li><a [ngxScrollTo]="'#contact'" href="javascript: void(0);">Contactanos</a></li>

<!--                     <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Media press</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Career</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Blog</a></li> -->
                </ul>
            </div>
            <!-- <div class="col-lg-2 col-sm-6">
                <h6 class="text-white mb-4 mt-sm-0 mt-4">Information</h6>
                <ul class="list-unstyled footer-list">
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Pricing</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Agencies</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Our Apps</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Sitemap</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6">
                <h6 class="text-white mb-4 mt-sm-0 mt-4">More info</h6>
                <ul class="list-unstyled footer-list">
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">FAQ</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Contact</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Discussion</a></li>
                    <li><a [ngxScrollTo]="'#home'" href="javascript: void(0);">Terms & condition</a></li>
                </ul>
            </div> -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->

<!-- start footer alter -->
<div class="footer-alt bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>{{cur_year}} © Grupo Comercial Peralea.</p>
            </div>
            <div class="col-sm-6 text-sm-end">
                <ul class="list-unstyled footer-alt-list mb-0 mt-sm-0 mt-3">
                    <li class="list-inline-item">
                        <a href="https://instagram.com/grupoperalea" target="_blank">
                            <i-feather name="facebook" class="icon-xs"></i-feather>
                        </a>
                    </li>
<!--                     <li class="list-inline-item">
                        <a href="javascript:void(0);" [ngxScrollTo]="'#home'">
                            <i-feather name="twitter" class="icon-xs"></i-feather>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" [ngxScrollTo]="'#home'">
                            <i-feather name="github" class="icon-xs"></i-feather>
                        </a>
                    </li> -->
                    <li class="list-inline-item">
                        <a href="https://instagram.com/grupoperalea" target="_blank">
                            <i-feather name="instagram" class="icon-xs"></i-feather>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end footer alter -->

<!-- <div id="style-switcher" [style]="isVisible ? 'left: 0px' : 'left: -189px'">
    <div>
        <h3>Select your color </h3>
        <ul class="pattern">
            <li>
                <a (click)="setTheme('default')" class="color1" href="javascript:void(0);"></a>
            </li>
            <li>
                <a class="color2" (click)="setTheme('success')" href="javascript:void(0);"></a>
            </li>
            <li>
                <a class="color3" (click)="setTheme('warning')" href="javascript:void(0);"></a>
            </li>
            <li>
                <a class="color4" (click)="setTheme('danger')" href="javascript:void(0);"></a>
            </li>
            <li>
                <a class="color5" (click)="setTheme('info')" href="javascript:void(0);"></a>
            </li>
            <li>
                <a class="color6" (click)="setTheme('amber')" href="javascript:void(0);"></a>
            </li>
        </ul>
    </div>
    <div class="bottom">
        <a href="javascript: void(0);" class="settings rounded-end text-white" (click)="toggleSwitcher()">
            <i-feather name="droplet"></i-feather>
        </a>
    </div>
</div> -->
<!-- end Style switcher -->